.table .chosen-container {
   width: 100% !important;
}

table thead tr, table thead tr th {
   background: #F96565 !important;
   color: #fff;
   border-color: #FD8080 !important
}

.box-validation {
   background: #FFFEFE;
   border: 1px solid #D6CFCF;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}

td .box-validation:last-child {
   border-bottom: 1px solid #D6CFCF;
}

.box-validation .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}

.box-validation input {
   border: none;
   border-bottom: 1px dashed #727272;
   padding-left: 2px;
   margin-left: 4px;
   width: 100px;
}

.box-validation .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}

.box-validation .validation-name-max {
   float: left;
   font-weight: normal;
}

.dragable {
   cursor: move;
}

.floatThead-container {
   -moz-animation: all 0.2s;
}

table .table-striped tbody tr:nth-child(odd) td {
   background: #fff !important
}

table .chosen-container:focus, table .chosen-container-single:focus, table .chosen-singel {
   border-color: #DBDBDB !important;
}

#diagnosis_list .target-area {
   background: #DFEFFC;
   border: 0px !important;
}

table label {
   font-weight: normal;
}

/*custom option*/

.box-custom-option {
   background: #FFFEFE;
   border: 1px solid #D6CFCF;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}

td .box-custom-option:last-child {
   border-bottom: 1px solid #D6CFCF;
}

.box-custom-option .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}

.box-custom-option input {
   border: none;
   border-bottom: 1px dashed #727272;
   padding-left: 2px;
   margin-left: 4px;
   width: 100px;
}

.box-custom-option .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}

.box-custom-option .validation-name-max {
   float: left;
   font-weight: normal;
}

td .custom-option-item:first-child .delete-option {
   display: none;
}

.box-custom-option.box-bottom {
   border-top-color: #fff !important;
}

.custom-option-item .delete-option {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 10px 5px;
   cursor: pointer;
   margin-top: -45px;
   padding-right: 5px;
   margin-right: 1px;
   background: #fff;
}

.custom-option-container {
   margin-top: 10px;
}

.wizard>.content>.body {
   position: relative !important;
}

.wizard>.content {
   background: #FBFBFB !important;
}

.dropdown-config {
   margin-top: 10px;
}

.dropdown-config a {
   padding: 3px 6px;
}

.config-item {
   margin-top: 2px;
   font-size: 11px;
}

.config-item .fa {
   color: #999;
}

.config-item:hover {
   cursor: pointer;
   color: #F99292 !important;
}

tr .dropdown-config {
   opacity: 0;
}

tr:hover .dropdown-config {
   opacity: 1;
}

.input-setting {
   border: none;
   border-bottom: 1px dashed #DADADA;
   width: 100%;
   color: #7A7A7A
}

.input-setting:focus {
   transform-origin: top left;
}

/*box setting*/

.box-setting #input_type_chosen *:not(.chosen-drop) {
   border: none !important;
}

.box-setting .chosen-container {
   margin-bottom: 0px !important;
}

.btn-collapse-setting {
   font-size: 9px;
   cursor: pointer;
   font-weight: normal;
   color: #797474;
   float: right;
   margin-top: 5px;
   margin-right: 5px;
}

.box-setting {
   background: #FFFEFE;
   border-bottom: none;
   padding: 5px 7px 5px 10px;
   font-size: 12px;
}

.box-setting label {
   width: 100%;
}

td .box-setting:last-child, td .box-setting.active-border {
   border-bottom: 1px solid #E2E2E2;
}

.box-setting .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}

.box-setting input.input_setting {
   border: none;
   border-bottom: 1px dashed #DADADA;
   width: 100%;
   color: #7A7A7A
}

.box-setting .custom-option-container {
   padding-right: 10px;
}

.box-setting .btn-collapse-attributes {
   position: relative;
   font-size: 9px;
   cursor: pointer;
   font-weight: normal;
   color: #797474;
}

.box-setting label {
   padding-left: 0px !important;
}

.box-setting .custom-option-item input {
   border: none;
   border-bottom: 1px dashed #DADADA;
   width: 130px;
   color: #7A7A7A
}

.box-setting .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}

.box-setting .validation-name-max {
   float: left;
   font-weight: normal;
}

.floatThead-container {
   margin-top: 50px !important;
}

.crud-input-initial {
   font-weight: 800;
}

.action-dragable {
   position: absolute;
   left: -20px;
   margin-top: 5px;
   color: #ccc;
   cursor: move;
}

.action-item {
   background-color: #fff;
   width: 155px;
   height: 40px;
   border: 1px solid #DEDCDC;
   float: left;
   padding: 5px;
   margin-top: 0px;
   border-radius: 3px;
   position: relative;
   margin-right: 15px;
   margin-left: 20px;
   margin-bottom: 10px;

}

.action-item .remove-action-item, .action-item .update-action-item {
   opacity: 0;
}

.action-item:hover .remove-action-item, .action-item:hover .update-action-item {
   opacity: 1;
}

.action-item-wrapper .ui-sortable-placeholder {
   background-color: orange;
}

.remove-action-item {
   position: absolute;
   top: -10px;
   right: 3px;
   color: #000;
   background: #fff
}

.update-action-item {
   position: absolute;
   top: -10px;
   right: 18px;
   color: #000;
   background: #fff
}

.button-custom {
   width: 70px;
   height: 40px;
   border: 1px solid #DEDCDC;
   float: left;
   padding: 5px 5px;
   margin-top: 0px;
   border-radius: 3px;
   position: relative;
   margin-right: 15px;
   font-size: 15px;
   color: #DEDCDC !important;
}

.button-custom small {
   font-size: 11px;
   display: block;
   line-height: 5px;
}

.button-custom:hover {
   opacity: 0.8;
}

.button-custom:hover {
   opacity: 0.8;
   color: #F96565 !important;
}

.layout-icon {
   text-align: center;
   padding: 20px;
   font-size: 40px;
   color: #ccc;
}

.layout-icon:hover {
   color: #3493F4;
}

.layout-icon-wrapper.active .layout-icon {
   border: 1px solid #3493F4 !important;
   color: #3493F4 !important;
}

.ui-sortable-helper {
   height: 35px !important;
   overflow: hidden;
   border-color: 2px solid yellow;
   box-shadow: 5px 0px 4px #ccc;
}

.ui-sortable-helper .crud-input-initial {
   margin-top: -20px;
}

.ui-sortable-helper tr td {
   border-color: none !important;
}

.ui-sortable-helper td :not(.dragable):not(.crud-input-initial) {
   display: none;
}

.modal-javascript-setting .modal-body, .modal-javascript-setting .tab-content, .modal-style-setting .modal-body, .modal .tab-content {
   padding: 0px !important;
}

.modal pre {
   border-radius: 0px !important;
}

.modal .nav-tabs-custom {
   margin-bottom: 0px !important;
}

.modal .ace_editor {
   margin-bottom: 0px !important;
}

.action-form-wrapper {
   overflow: auto;
}

.modal-add-action {
   overflow-y: scroll;
}

/* custom condition */

.box-custom-condition {
   background: #FFFEFE;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}

td .box-custom-condition:last-child {
   border-bottom: 1px solid #D6CFCF;
}

.box-custom-condition .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}

.box-custom-condition input {
   border: none;
   border-bottom: 1px dashed #727272;
   padding-left: 2px;
   margin-left: 4px;
   width: 100px;
}

.box-custom-condition select {
   border: none;
   border-bottom: 1px dashed #727272;
   margin-left: 4px;
   width: 100px;
}

.box-custom-condition .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}

.box-custom-condition .validation-name-max {
   float: left;
   font-weight: normal;
}

td .custom-condition-item:first-child .delete-condition {
   display: none;
}

.box-custom-condition.box-bottom {
   border-top-color: #fff !important;
}

.custom-condition-item .delete-condition {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 10px 5px;
   cursor: pointer;
   margin-top: -45px;
   padding-right: 5px;
   margin-right: 1px;
   background: #fff;
}

.custom-condition-container {
   margin-top: 10px;
}

.custom-condition-item .border-none {
   border-top: none !important;
}

#condition_operator {
   background: none !important;
}